
#nav-bar
{
    background-image: url("images/Header.png");
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 100px;
    padding-left: 0px;
}
.navbar-nav li
{
    padding: 0 17px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a::after
{
     color: #dd3333!important;
}
.navbar-toggler
{
    border:  none!important;
    color: #dd3333 !important;
    
}
.nav-link
{
    color:white !important;
    font-weight: 600;
    font-size: 18px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  }
  #nav-bar ul li a:hover
{
     color: #dd3333!important;
}
/*---------VIDEO--------*/
  #myVideo {
    position: static;
    right: 0;
    bottom: 0px;
    max-width: 50%; 
    max-height: 50%;
  }
  
  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  .btn-change1{
    height: 60px;
    width: 200px;
    background: #dd3333;
    margin: 20px;
    float: center;
    border: 0px;
    color: #fff;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.5s;
    font-size: 22px;
    font-weight: 500;
}
.btn-change1:hover{
  box-shadow: 0px 0px 80px 10px #ffff inset , 0px 0px 80px 10px #ffff inset;
  transform: scale(1.1);
  background: #fff;
  color: #dd3333;
}
/*-----------ABOUT IN HOME PAGE----------*/
#services
{
    background-image: linear-gradient(rgba(243, 239, 239, 0.829),rgba(243,239,239,0.829)),url("images/welding.jpg");
    background-size: cover;
    background-position: center;
    color: #dd3333!important;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
#services h1
{
    text-align: center ;
    color: #dd3333!important;
    padding-bottom: 10px;
}
.btn-change2{
  height: 60px;
  width: 200px;
  background: #dd3333;
  margin: 20px;
  float: center;
  border: 0px;
  color: #fff;
  box-shadow: 0 0 1px #ccc;
  transition-duration: 0.5s;
  font-size: 22px;
  font-weight: 500;
}
.btn-change2:hover{
box-shadow: 0px 0px 80px 10px black inset , 0px 0px 80px 10px black inset;
transform: scale(1.1);
background: #fff;
color: #dd3333;
}
/*------CHIEF EXECUTIVE-----*/
.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  font-family: Raleway;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading{
  font-family: Raleway;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;

}
.how-img img{
  width: 40%;
}
/*-------LAST TAG--------*/
#final
{
    background-color: #dd3333;
    background-size: cover;
    background-position: center;
    color: white!important;
    background-attachment: fixed;
    padding-top: 50px;
    
    padding-left: 100px;
    padding-right: 100px;
}
.btn-change3{
  height: 60px;
  width: 200px;
  background: white;
  margin: 20px;
  float: center;
  border: 0px;
  color: #dd3333;
  box-shadow: 0 0 1px #ccc;
  transition-duration: 0.5s;
  font-size: 22px;
  font-weight: 500;
}
.btn-change3:hover{
box-shadow: 0px 0px 80px 10px black inset , 0px 0px 80px 10px black inset;
transform: scale(1.1);
background: #fff;
color: #ffff;
}